:root {
  --primary: #201f1f;
  --secondary: #faf6f4;
  --highlight: #85fa5a;
}

h1,
h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
}

.modal-title {
  color: var(--highlight);
}

#loading-message {
  color: var(--highlight);
  transition: opacity 0.75s, visibility 0.75s;
}

#brand {
  color: var(--highlight);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 200px;
  height: 200px;
  border: 10px solid #201f1fff;
  border-top-color: var(--highlight);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

#staticBackdropLabel {
  color: var(--highlight);
  text-align: center;
}
#header {
}

.btn {
  background-color: var(--highlight);
  color: var(--primary);
  font-family: "Bebas Neue", sans-serif;
}

#open-sidebar {
  margin-right: 10px;
}

.btn:hover {
  background-color: var(--primary);
  border: 1px solid var(--highlight);
  color: var(--highlight);
}

.poster-modal {
  background-color: var(--primary);
}

.poster-modal:hover {
  box-shadow: 3px 8px 16px var(--highlight);
}

#image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#search-results-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-posters {
  height: 30vh;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 3px 8px 16px gray;
}

/*.side-movie-posters {*/
/*  height: 25%;*/
/*  border-radius: 5px;*/
/*  box-shadow: 5px 5px 15px var(--secondary);*/
/*}*/

.sideCard {
  width: 14rem;
  height: 50%;
  border-radius: 5px;
  box-shadow: 3px 8px 16px gray;
}

.poster-modal {
  max-height: 30vh;
}

.edit-form {
  display: none;
}

.delete-confirm {
  display: none;
}

.delete-confirm-button {
  background-color: darkred;
  color: #faf6f4;
}

#trailer-player {
  width: 100%;
  height: 315px;
}

.form-control:focus {
  border-color: #2d7d30;
  box-shadow: inset 0 1px 1px var(--highlight), 0 0 8px rgb(45, 125, 48);
}
