:root {
  --primary: #534e4e;
  --secondary: #faf6f4;
  --highlight: #85fa5a;
}
h1 {
  text-align: center;
}

#staticBackdropLabel {
  color: var(--highlight);
  text-align: center;
}

.btn {
  background-color: var(--highlight);
  color: var(--primary);
}

.btn:hover {
  background-color: var(--primary);
  color: var(--highlight);
}

.poster-modal {
  background-color: var(--primary);
}

.poster-modal:hover {
  box-shadow: 3px 8px 16px var(--highlight);
}

#image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#search-results-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-posters {
  height: 30vh;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 3px 8px 16px gray;
}

/*.side-movie-posters {*/
/*  height: 25%;*/
/*  border-radius: 5px;*/
/*  box-shadow: 5px 5px 15px var(--secondary);*/
/*}*/

.sideCard {
  width: 14rem;
  height: 50%;
  border-radius: 5px;
  box-shadow: 3px 8px 16px gray;
}

.poster-modal {
  max-height: 30vh;
}
